<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="YouTube Video Downloader - RTube adalah aplikasi untuk membantu Anda mengunduh video YouTube tanpa watermark dan gratis. Anda dapat mengunduh video YouTube dari perangkat apa pun yang Anda miliki." />
<meta name="keywords" content="YouTube downloader, YouTube video downloader, YouTube video downloader without watermark, YouTube video downloader hd, YouTube video downloader mp3, YouTube video downloader online, YouTube video downloader apk, YouTube video downloader app, YouTube video downloader app for android, YouTube video downloader app for iphone, YouTube video downloader app for pc, YouTube video downloader app for windows, YouTube video downloader app for mac, YouTube video downloader app for ios, YouTube video downloader app for laptop, YouTube video downloader app for pc free download, YouTube video downloader app for android free download, YouTube video downloader app for iphone free download, YouTube video downloader app for pc windows 10, YouTube video downloader app for pc windows 7, YouTube video downloader app for pc windows 8, YouTube video downloader app for pc windows 8.1, YouTube video downloader app for pc windows xp, YouTube video downloader app for pc windows 7 free download, YouTube video downloader app for pc windows 10 free download, YouTube video downloader app for pc windows 8 free download, YouTube video downloader app for pc windows 8.1 free download, YouTube video downloader app for pc windows xp free download, YouTube video downloader app for pc free download windows 10, YouTube video downloader app for pc free download windows 7, YouTube video downloader app for pc free download windows 8, YouTube video downloader app for pc free download windows 8.1, YouTube video downloader app for pc free download windows xp, YouTube video downloader app for pc free download windows 10 64 bit, YouTube video downloader app for pc free download windows 7 64 bit, YouTube video downloader app for pc free download windows 8 64 bit, YouTube video downloader app for pc free download windows 8.1 64 bit, YouTube video downloader app for pc free download windows xp 64 bit, YouTube video downloader app for pc free download windows 10 32 bit, YouTube video downloader app for pc free download windows 7 32 bit, YouTube video downloader app for pc free download windows 8 32 bit, YouTube video downloader app for pc free download windows 8.1 32 bit, YouTube video downloader app for pc free download windows xp 32 bit, YouTube video downloader app for pc free download windows 10 32 bit, y2make, yt1s, rtik RTube" />
<meta name="robots" content="index, follow" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://rtube.ramsnode.me/" />
<meta property="og:title" content="YouTube Downloader - Download Video YouTube Tanpa Watermark HD online" />
<meta property="og:description" content="YouTube Video Downloader - RTube adalah aplikasi untuk membantu Anda mengunduh video YouTube tanpa watermark dan gratis. Anda dapat mengunduh video YouTube dari perangkat apa pun yang Anda miliki." />
<meta property="og:image" content="" />
<meta property="og:site_name" content="RTube" />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://rtube.ramsnode.me/" />
<meta property="twitter:title" content="YouTube Downloader - Download Video YouTube Tanpa Watermark HD online" />
<meta property="twitter:description" content="YouTube Video Downloader - RTube adalah aplikasi untuk membantu Anda mengunduh video YouTube tanpa watermark dan gratis. Anda dapat mengunduh video YouTube dari perangkat apa pun yang Anda miliki." />
<meta property="twitter:image" content="" />

<link rel="apple-touch-icon" sizes="57x57" href="/src/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/src/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/src/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/src/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/src/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/src/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/src/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/src/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/src/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/src/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/src/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/src/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/src/favicon/favicon-16x16.png">
<link rel="manifest" href="src/favicon//manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/src/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#272744">

<title>RTube - YouTube Downloader</title>
<link rel="stylesheet" href="/lib/bootstrap.min.css">
<link rel="stylesheet" href="/lib/bootstrap-icons.css">
<link rel="stylesheet" href="/lib/aos.css">
<link rel="stylesheet" href="/css/root.css">
<link rel="stylesheet" href="/css/style.index.css">
